<h1>Employees</h1>

<div class="panel panel-default">
    <div class="panel-body">
        <table class='table' *ngIf="employees">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Gross Pay</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>
                        <a [routerLink]="['/employees', employee.id]" class="btn btn-xs btn-primary">Edit</a>
                        <a [routerLink]="['/employees', employee.id, 'paysummary']" class="btn btn-xs btn-primary">Pay Summary</a>
                        <a (click)="delete(employee.id)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</a>
                    </td>
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.firstName }}</td>
                    <td>{{ employee.lastName }}</td>
                    <td>{{ employee.age }}</td>
                    <td>{{ employee.grossPay | currency }}</td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" [routerLink]="['/employees', 0]">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        </button>
    </div>
</div>