<h1>Payroll &amp; Benefits Sample Application</h1>
<p>You will find the follow features under <strong>Employees</strong>:</p>
<ul>
    <li>Add/remove employees</li>
    <li>Add/remove dependents to employees</li>
    <li>Modify employees' names, ages and gross pay amounts</li>
    <li>Modify dependents' names and ages</li>
    <li>View employee pay summaries (gross pay, benefits, discounts, and net pay)</li>
</ul>
<p>Under <strong>Organization</strong> you can do the following:</p>
<ul>
    <li>Modify the benefits costs for employees and dependents</li>
    <li>Modify the name of the organization</li>
    <li>Change the number of paychecks per year</li>
</ul>
